# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 暂时禁用
src/Includes/MCC.js/
src/Includes/.gitkeep

# Helping Scripts
z*.bat

# Other files
other/

# TS Files (Ingore because this project is based on JS)
*.d.ts

# DrawIO Files
*.dio
*.drawio

# 模板文件
*Template.*

# 升级工具
update.exe