:root {
    --tb-bgc: rgba(255, 255, 255, 0.4);
    --tb-bgc-hover: rgba(255, 255, 255, 0.9);
    --tb-btn-bgc-hover: rgb(237, 237, 237);
    --title-c: black;
    --main-bg: white;
    --lgc-1: rgb(36, 200, 219);
    --lgc-2: rgb(255, 193, 49);
    --icon-finish: rgb(60, 255, 0);
    --icon-failed: rgb(255, 34, 0);
    --border-c: rgb(215, 215, 217);
    --mbb-bg: rgb(207, 207, 208);
    --mbb-bg2: rgb(217, 217, 218);
    --p-s-bg: rgb(255, 255, 255, 0.1);
    --slb-bgc-hover: rgba(237, 237, 237, 0.4);
    --si-btn-bgc: rgba(255, 255, 255, 0.8);
    --sib-bg: rgb(237, 237, 238, 0.8);
    --sib-bg2: rgb(247, 247, 248, 0.8);
    --sib-bg-disable: rgb(181, 181, 181);
    --sp1-card-bgc: rgba(255, 255, 255, 0.6);
    --sp1-card-bdc: rgba(0, 0, 0, 0.2);
}

:root:has(body[app-theme="dark"]) {
    --tb-bgc: rgba(6, 10, 27, 0.4);
    --tb-bgc-hover: rgba(6, 10, 27, 0.9);
    --tb-btn-bgc-hover: rgb(14, 18, 38);
    --title-c: white;
    --main-bg: rgb(6, 6, 39);
    --lgc-1: rgb(109, 36, 219);
    --lgc-2: rgb(219, 103, 36);
    --border-c: rgb(12, 12, 74);
    --mbb-bg: rgb(62, 62, 64);
    --mbb-bg2: rgb(46, 46, 46);
    --p-s-bg: rgb(0, 0, 0, 0.1);
    --slb-bgc-hover: rgba(14, 18, 38, 0.4);
    --si-btn-bgc: rgba(6, 6, 39, 0.8);
    --sib-bg: rgb(42, 42, 44, 0.8);
    --sib-bg2: rgb(26, 26, 26, 0.8);
    --sp1-card-bgc: rgba(6, 6, 39, 0.6);
    --sp1-card-bdc: rgba(0, 0, 0, 0.2);
}

body {
    color: var(--title-c);
}
